apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: ${PROMETHEUS_URL}
    isDefault: true
    editable: false

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: ${TEMPO_URL}
    editable: false
    jsonData:
      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - service.name
          - http.method
          - http.route
          - http.status_code
      serviceMap:
        datasourceUid: prometheus
      tracesToLogs:
        datasourceUid: loki
        tags:
          - service.name

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: ${LOKI_URL}
    editable: false